template(name="splash")
  h1 RoboRally Online!
  br
  p
    | Welcome! If you are familiar with the game, just
    a.login(href="#") sign in or register
    | and jump right in the chaos!

  br
  br
  p.small
    | Or download the
    a(href="/roborally-manual.pdf", target="_blank") game rules PDF
    | if you like reading.

template(name="loading")
  p Loading..
